@CHARSET "ISO-8859-1";

h3{
	font-family: palatino linotype;
}
th{
	font-size: 12pt;
}


#listTableRow:HOVER {
		color: maroon;
		background-color: pink;
}
#listTableRow:ACTIVE {
		background-color: cyan;
}

.fieldLabel{
	text-align: right;
	font-family: palatino linotype;
	font-size: 12pt;
}