@CHARSET "ISO-8859-1";

h3{
	font-family: palatino linotype;
}
th{
	font-size: 12pt;
}

#listTableRow:HOVER {
		color: maroon;
		background-color: pink;
}
#listTableRow:ACTIVE {
		background-color: cyan;
}
#listTableRow{
	border: "1";
	border-color: black;
	font-family: courier;
}


/* Modal */
#errorPopup{
	background-color: aqua;
	padding-top: 0pt;
	padding-bottom: 0pt; 
	 width: 30%;
	 border-radius: 10px;
	 color: #003300;
	 font-family: palatino linotype;
	 font-size: 12pt;
}
